In [6]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [7]:
d=pd.read_csv('https://raw.githubusercontent.com/Grizzly-dart/grizzly_data/master/histdata/guerry.csv')
d.head()

   Unnamed: 0  dept Region    Department  ...  Prostitutes  Distance  Area  Pop1831
0           1     1      E           Ain  ...           13   218.372  5762   346.03
1           2     2      N         Aisne  ...          327    65.945  7369   513.00
2           3     3      C        Allier  ...           34   161.927  7340   298.26
3           4     4      E  Basses-Alpes  ...            2   351.399  6925   155.90
4           5     5      E  Hautes-Alpes  ...            1   320.280  5549   129.10

[5 rows x 24 columns]

In [9]:
d

    Unnamed: 0  dept Region    Department  ...  Prostitutes  Distance  Area  Pop1831
0            1     1      E           Ain  ...           13   218.372  5762   346.03
1            2     2      N         Aisne  ...          327    65.945  7369   513.00
2            3     3      C        Allier  ...           34   161.927  7340   298.26
3            4     4      E  Basses-Alpes  ...            2   351.399  6925   155.90
4            5     5      E  Hautes-Alpes  ...            1   320.280  5549   129.10
..         ...   ...    ...           ...  ...          ...       ...   ...      ...
81          82    86      W        Vienne  ...           18   170.523  6990   282.73
82          83    87      C  Haute-Vienne  ...            7   198.874  5520   285.13
83          84    88      E        Vosges  ...           43   174.477  5874   397.99
84          85    89      C         Yonne  ...          272    81.797  7427   352.49
85          86   200    NaN         Corse  ...            1   539.213  8680   195.41

[86 rows x 24 columns]

In [8]:
d['Wealth']

0     73
1     22
2     61
3     76
4     83
      ..
81    68
82    67
83    82
84    30
85    37
Name: Wealth, Length: 86, dtype: int64

In [ ]:
LinearRegression().fit()