In [9]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [19]:
inp=pd.DataFrame(columns=['q','r','s'])
inp

Empty DataFrame
Columns: [q, r, s]
Index: []

In [20]:
out=pd.DataFrame(columns=['nq','nr'])
out

Empty DataFrame
Columns: [nq, nr]
Index: []

In [21]:
rows = [
    pd.Series(data={'q':5,'r':-2,'s':-3,'nq':1,'nr':-1}),
    pd.Series(data={'q':2,'r':3,'s':-5,'nq':1,'nr':0}),
    pd.Series(data={'q':-3,'r':5,'s':-2,'nq':0,'nr':1}),
    pd.Series(data={'q':-5,'r':2,'s':3,'nq':-1,'nr':1}),
    pd.Series(data={'q':-2,'r':-3,'s':5,'nq':-1,'nr':0}),
    pd.Series(data={'q':3,'r':-5,'s':2,'nq':0,'nr':-1}),
]
rows

[q     5
 r    -2
 s    -3
 nq    1
 nr   -1
 dtype: int64,
 q     2
 r     3
 s    -5
 nq    1
 nr    0
 dtype: int64,
 q    -3
 r     5
 s    -2
 nq    0
 nr    1
 dtype: int64,
 q    -5
 r     2
 s     3
 nq   -1
 nr    1
 dtype: int64,
 q    -2
 r    -3
 s     5
 nq   -1
 nr    0
 dtype: int64,
 q     3
 r    -5
 s     2
 nq    0
 nr   -1
 dtype: int64]

In [22]:
for r in rows:
    inp.loc[len(inp)]=r
    out.loc[len(out)]=r
print(inp)
print(out)

   q  r  s
0  5 -2 -3
1  2  3 -5
2 -3  5 -2
3 -5  2  3
4 -2 -3  5
5  3 -5  2
   nq  nr
0   1  -1
1   1   0
2   0   1
3  -1   1
4  -1   0
5   0  -1

In [23]:
reg=LinearRegression().fit(inp,out)

In [28]:
print(f'{reg.coef_} {reg.intercept_}')
reg.coef_

[[ 0.12280702  0.01754386 -0.14035088]
 [-0.14035088  0.12280702  0.01754386]] [0. 0.]

array([[ 0.12280702,  0.01754386, -0.14035088],
       [-0.14035088,  0.12280702,  0.01754386]])

In [32]:
reg.predict(inp).astype(int)

array([[ 1, -1],
       [ 1,  0],
       [ 0,  1],
       [-1,  1],
       [-1,  0],
       [ 0, -1]])

In [31]:
reg.score(inp,out)

1.0

In [38]:
reg.predict([[6,-10,4],[1,-8,7],[4,-13,9],[3,-24,21]]).astype(int)

/home/tejag/.local/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[ 0, -2],
       [-1, -1],
       [-1, -2],
       [-3, -3]])

In [46]:
qx=0.12280702
qy=0.01754386
qz=-0.14035088

rx=-0.14035088
ry=0.12280702
rz=0.01754386

In [47]:
q=6
r=-10
s=4
print(q*qx+r*qy+s*qz)
print(q*rx+r*ry+s*rz)

0.0
-2.00000004

In [48]:
q=1
r=-8
s=7
print(q*qx+r*qy+s*qz)
print(q*rx+r*ry+s*rz)

-1.00000002
-1.00000002