In [1]:
import pandas as pd
import numpy as np

In [86]:
d = pd.DataFrame(data={'x':[0],'y':[0.5]})
d

   x    y
0  0  0.5

In [87]:
s=pd.Series(data={'x':1,'y':np.random.sample()})
s

x    1.000000
y    0.281187
dtype: float64

In [88]:
d=d.append(s, ignore_index=True)
d

/tmp/ipykernel_184618/1568310421.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d=d.append(s, ignore_index=True)

     x         y
0  0.0  0.500000
1  1.0  0.281187

In [89]:
d=pd.concat([d,s.to_frame().T])
d

     x         y
0  0.0  0.500000
1  1.0  0.281187
0  1.0  0.281187

In [83]:
s.to_frame().T

     x         y
0  1.0  0.601339

In [92]:
d.loc[2] = s
d

     x         y
0  0.0  0.500000
1  1.0  0.281187
0  1.0  0.281187
2  1.0  0.281187