In [15]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [16]:
x = pd.DataFrame(data={'q':np.arange(0,10), 'r':np.random.sample(10)},columns=['q','r'])
x

   q         r
0  0  0.351264
1  1  0.178020
2  2  0.502925
3  3  0.311079
4  4  0.826393
5  5  0.699948
6  6  0.536147
7  7  0.587525
8  8  0.429310
9  9  0.704662

In [22]:
y=pd.DataFrame(data={'nq':x['q']*2+x['r']*5+8},columns=['nq'])
y

          nq
0   9.756320
1  10.890098
2  14.514627
3  15.555397
4  20.131965
5  21.499739
6  22.680734
7  24.937624
8  26.146551
9  29.523311

In [23]:
reg=LinearRegression().fit(x,y)

In [24]:
reg.coef_

array([[2., 5.]])

In [25]:
reg.intercept_

array([8.])

In [26]:
reg.score(x,y)

1.0