In [1]:
import pandas as pd
import numpy as np

In [134]:
d = pd.DataFrame(data={'x':[0],'y':[0.5]})
d

   x    y
0  0  0.5

In [135]:
s=pd.Series(data={'x':1,'y':np.random.sample()})
s

x    1.000000
y    0.399852
dtype: float64

In [136]:
# Add row to DataFrame from Series
d=d.append(s, ignore_index=True)
d

/tmp/ipykernel_184618/3956080991.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d=d.append(s, ignore_index=True)

     x         y
0  0.0  0.500000
1  1.0  0.399852

In [137]:
# Use pandas.concat to add row to DataFrame from Series 
d=pd.concat([d,s.to_frame().T], ignore_index=True)
d

     x         y
0  0.0  0.500000
1  1.0  0.399852
2  1.0  0.399852

In [138]:
s.to_frame().T

     x         y
0  1.0  0.399852

In [139]:
# Add row to DataFrame from Series using DataFrame.loc
d.loc[len(d)] = s
d

     x         y
0  0.0  0.500000
1  1.0  0.399852
2  1.0  0.399852
3  1.0  0.399852

In [140]:
# Add row to DataFrame from dict using DataFrame.loc
d.loc[len(d)] = {'x':1,'y':np.random.sample()}
d

     x         y
0  0.0  0.500000
1  1.0  0.399852
2  1.0  0.399852
3  1.0  0.399852
4  1.0  0.044444

In [141]:
# Add row to DataFrame from dict using DataFrame.append
d.append([{'x':1,'y':np.random.sample()}],ignore_index=True)

/tmp/ipykernel_184618/1270010100.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d.append([{'x':1,'y':np.random.sample()}],ignore_index=True)

     x         y
0  0.0  0.500000
1  1.0  0.399852
2  1.0  0.399852
3  1.0  0.399852
4  1.0  0.044444
5  1.0  0.757202

In [143]:
# Reindex
d.reindex(np.arange(len(d)))

     x         y
0  0.0  0.500000
1  1.0  0.399852
2  1.0  0.399852
3  1.0  0.399852
4  1.0  0.044444

In [144]:
# Reindex
d.index = np.arange(len(d))
d

     x         y
0  0.0  0.500000
1  1.0  0.399852
2  1.0  0.399852
3  1.0  0.399852
4  1.0  0.044444