In [1]:
import pandas

In [2]:
data = pandas.read_json('[["a", "b", "c"], [1, 2, 3], [4, 5, 6]]')
data

   0  1  2
0  a  b  c
1  1  2  3
2  4  5  6

In [3]:
data1 = pandas.read_json('{"a": "aa", "b": "bb", "c": "cc", "d": {"one": "oneone", "two": "twotwo", "three": "threethree"}}')
data1

        a   b   c           d
one    aa  bb  cc      oneone
three  aa  bb  cc  threethree
two    aa  bb  cc      twotwo

In [5]:
data1 = pandas.read_json('{"a": "aa", "b": "bb", "c": "cc", "d": {"one": "oneone", "two": "twotwo", "three": "threethree"}, "e": {"four": "oneone", "five": "twotwo", "three": "threethree"}}')
data1

        a   b   c           d           e
one    aa  bb  cc      oneone         NaN
two    aa  bb  cc      twotwo         NaN
three  aa  bb  cc  threethree  threethree
four   aa  bb  cc         NaN      oneone
five   aa  bb  cc         NaN      twotwo

In [2]:
data1 = pandas.read_json('{"a": "aa", "b": [100, 101, 102], "c": [200, 201, 202]}')
data1

    a    b    c
0  aa  100  200
1  aa  101  201
2  aa  102  202

In [3]:
data1 = pandas.read_json('{"a": "aa", "b": [{"so": 100}, {"effing":101}, {"stupid": 102}], "c": [200, 201, 202]}')
data1

    a                b    c
0  aa      {'so': 100}  200
1  aa  {'effing': 101}  201
2  aa  {'stupid': 102}  202